<?xml version="1.0" ?>
<!--
/**
 * Copyright © PHPDigital, Inc. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="AlbertMage\Search\Api\SearchQueryManagementInterface" type="AlbertMage\Search\Model\SearchQueryManagement"/>
    <preference for="AlbertMage\Search\Api\SearchQueryRepositoryInterface" type="AlbertMage\Search\Model\SearchQueryRepository"/>
    <preference for="AlbertMage\Search\Api\Data\SearchQuerySearchResultsInterface" type="AlbertMage\Search\Model\SearchQuerySearchResults"/>
    <preference for="AlbertMage\Search\Api\Data\SearchQueryInterface" type="AlbertMage\Search\Model\SearchQuery"/>

</config>
